[package]
name = "unison-fsmonitor"
description = "unison-fsmonitor implementation"
version = "0.2.1"
authors = ["Junfeng Li <autozimu@gmail.com>"]
license = "MIT"
edition = "2018"

[dependencies]
percent-encoding = "1"
failure = "0"
notify = "4"
log = "0"
env_logger = "0"

[profile.release]
debug = true

[package.metadata.release]
no-dev-version = true
